<div class="container">
  <app-header (termsEmitter)="captureEmittedData($event)" [titleFromApp]="oneTitle"></app-header>

  <router-outlet></router-outlet>

  <div class="d-flex justify-content-center">
    <div class="card text-center mt-5 mb-5 w-75">
      <div class="card-body">
        Please review our <button type="button" class="btn btn-link" (click)="displayTerms()">Terms and Conditions</button>
      </div>
    </div>
  </div>

  <app-footer [termsFromApp]="childTermsData"></app-footer>


</div>