<p class="text-center h3 mt-4">There are recipes for 3 different cuisines</p>
<div class="container">
    <div class="row text-center">
        <div class="col-md-6 mt-2 mb-2">
            <img src="https://cdn.pixabay.com/photo/2017/04/04/00/36/ramen-2199962_1280.jpg" class="w-75">
            <div class="mt-3">Chinese</div>
        </div>
        <div class="col-md-6 mt-2 mb-2">
            <img src="https://cdn.pixabay.com/photo/2021/06/28/14/06/curry-6371737_1280.jpg" class="w-75">
            <div class="mt-3">Indian</div>
        </div>
        <div class="col-md-6 offset-md-3 mt-2 mb-2">
            <img src="https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_1280.jpg" class="w-75">
            <div class="mt-3">Italian</div>
        </div>
    </div>
</div>

